body {
    background-color: black;
        background-repeat: no-repeat;
   }

   /* Logo */
   .logo-circular-principal {
       border-radius: 100%; 
       padding: 10px;
       text-align: center;
   }
   /* FIM logo */


   /* Criar Conta FORM */

   .container_session {
       background-color: white;
       max-width: 500px;
       min-height: 800px;
       margin-left: auto;
       margin-right: auto;
       margin-top: 70px;
       margin-bottom: 50px;
       padding: 20px;
   }

   h1 {
       text-align: center;
       padding: 20px;
       margin-top: 50px;
       font-weight: 700;
   }

   .container_inputs {
       margin-top: 50px;
       padding: 20px;
   }

   .voltar_login {
       padding: 5px;
       font-size: 18px; 
       color: #1E90FF; 
       text-decoration: none; 
       font-weight: 500;
       transition: all 0.5s;
       box-shadow: 0px 1px 0px #1E90FF;
   }

   .alert-danger {
       font-weight: 600;
       
   }
   
   .form-control {
       display: flex;
       margin-top: 20px;
       outline: 0;
       padding: 18px;
       background-color: #e7e7e7;
       font-weight: 700;
   }

   .form-control:placeholder-shown {
       font-weight: 700;
       
   }

   .form-control:focus {
       box-shadow: 0 0 0 0;
       outline: 0;
       border: 1px solid black;
   }

   li {
        list-style: none;
        display: inline-block;
        font-weight: 600;
    }

   .btn {
       position: relative;
       float: right;
       left: 10px;
       border: none;
       top: auto;
       margin-top: -55px;
       margin-right: 20px;
   }

   .avancar {
       margin-top: 70px; 
       padding: 10px;
       width: 120px;
       height: 120px;
       opacity: 50%;
       border: black;
       border-radius: 25%;
       margin-bottom: 20px;
       outline: none;
       color: black;
   }

   .criar-conta {
       font-size: 18px; 
       color: black; 
       text-decoration: none; 
       font-weight: 500;
       transition: all 0.5s;
   }

   .criar-conta:hover {
       color: #1E90FF;
       text-decoration: none;
   }

   /* FIM FORM */